/* *  {
box-sizing: border-box;
}

#root {
  background: rgb(41, 63, 137);
  height: 100%;
  width: 100%;
  margin: 0;
}
.flexy {
  display: flex;
  align-items: center;
  justify-content: center;
}

 */
